<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team6.dva.repository.ConcertMapper">

    <select id="showSummaryInfo" resultType="com.team6.dva.model.Concert">
        SELECT
               show_no
             , show_name
             , show_date
          FROM tbl_show
         ORDER BY show_date
    </select>

    <select id="showInfo" resultType="com.team6.dva.model.Concert">
        SELECT
               show_no
             , show_name
             , show_date
             , show_info
             , pay_start
             , pay_end
             , price
          FROM tbl_show
         WHERE show_name LIKE CONCAT('%', #{ value }, '%')
    </select>
    <select id="selectConcertByName" resultType="com.team6.dva.model.Concert">
        SELECT
               show_no
             , show_name
             , show_date
             , show_info
             , pay_start
             , pay_end
             , price
          FROM tbl_show
         WHERE show_name = #{showName}
    </select>
    <select id="selectConcertById" resultType="com.team6.dva.model.Concert">
        SELECT
               show_no
             , show_name
             , show_date
             , show_info
             , pay_start
             , pay_end
             , price
          FROM tbl_show
         WHERE show_no = #{showNo}
    </select>
</mapper>